.Card3 {
  min-width: 400px;
  min-height: 250px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin-right: 20px;
  // cursor: pointer;

  img {
    position: absolute;
    // width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }

  &__movie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px 20px;
    justify-content: space-between;

    &info {
      display: flex;
      flex-direction: column;
      &--title {
        margin-bottom: 2px;
        font-size: 25px;
        font-weight: 700;
      }

      &--year {
        font-size: 18px;
        font-weight: lighter;
        margin-bottom: 5px;
      }

      &--rating {
        font-size: 16px;
        display: flex;
        // display: inline-block;

        &-logo {
          display: inline-block;
          background-color: yellow;
          border-radius: 4px;
          margin-right: 5px;
          color: black;
          padding: 1px 3px;
        }
      }
    }

    &right {
      display: flex;
      // gap: 10px;
      align-items: center;
      font-size: 12px;
      min-width: 40%;

      :hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      &--watch {
        transition: all 0.1s ease-in;
        padding: 10px 15px;
        background-color: rgba(225, 0, 0, 0.7);
        border-radius: 20px;
        margin-right: 10px;
      }

      &--add {
        transition: all 0.1s ease-in;
        background-color: rgba(75, 72, 72, 0.4);
        font-weight: 300;
        width: 36px;
        height: 36px;
        font-size: 20px;
        border-radius: 100%;
        // padding: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
