@import "../index.scss";
.movies {
  padding: 20px 15px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  // margin-top: 60px;
  // padding-left: 40px;

  .trending {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    a {
      font-size: 12px;
      text-decoration: none;
      color: inherit;
      transition: all 0.1s ease-in;
      transform-origin: center;
    }

    a:hover {
      transform: scale(1.1);
      color: red;
    }
  }

  .trendingMovies {
    display: flex;
    overflow-x: auto;
  }

  .trendingMovies::-webkit-scrollbar {
    display: none;
  }

  .continueContainer {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .continue {
      display: flex;
      gap: 10px;
      overflow-x: auto;
    }
    .continue::-webkit-scrollbar {
      display: none;
    }
  }
}
