@import "../index.scss";
.page {
  display: flex;
  flex-direction: column;
  background-color: $primary;
}

.error {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
