.Main {
  /* width: 100%; */
  overflow: auto;
  nav {
    padding: 20px 30px;
    ul {
      display: flex;
      list-style: none;
      gap: 20px;
      font-size: 24px;
      li {
        :hover {
          color: red;
        }
        a {
          text-decoration: none;
          :hover {
            color: active;
          }
        }
      }
    }
  }
}
