@import "../../index.scss";
.netflix {
  padding: 20px 15px;
  gap: 40px;
  // padding-left: 40px;

  .trending {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    a {
      font-size: 12px;
      text-decoration: none;
      color: inherit;
      transition: all 0.1s ease-in;
      transform-origin: center;
    }

    a:hover {
      transform: scale(1.1);
      color: red;
    }
  }
  .movies {
    display: flex;
    overflow-x: auto;
  }

  .movies::-webkit-scrollbar {
    display: none;
  }

  .continue {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .films {
      display: flex;
      gap: 10px;
      overflow-x: auto;
    }
    .films::-webkit-scrollbar {
      display: none;
    }
  }
}
