code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --bg-color: #0d0d0f;
  --bg-sidebar: #1a171e;
}

body {
  background-color: #ccc;
  height: 100vh;
  /* width: 100vw; */
}
